.backgroundImg {
    background-image: url("../src/assets/BackgroundImg.jpg");
    background-size: cover;
    min-width: 100vh;
    min-height: 100vh;
    opacity: 90%;
    backdrop-filter: blur(5px);
}
.relative{
    position: relative;
}
.stockList{
    background-color: rgba(42, 42, 42, 0.85);
    border-radius: 8px;
    max-width: fit-content;
}
.overviewPage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
}
.table-row:hover{
    background-color: rgba(58, 58, 58, 0.85);
}
.delete-button {
    visibility: hidden;
    display: inline-block;
}

.table-row:hover .delete-button {
    visibility: visible;
}